html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.item {
  box-sizing: border-box;
  position: relative;
  height: 50px;
  width: 50px;
  background: aqua;
  top: 50%;
  left: calc(100% - 50%); }
